{% extends 'base.html.twig' %}

{% block title %}Hello RegisterUserController!{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h2>Register</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-3 col-md-1"></div>

        <div class="col-6 col-md-6">
            {{ form(form) }}
        </div>

        <div class="col-3 col-md-5"></div>
    </div>
{% endblock %}
