{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}
    <div class="container">
        {% if user %}
            <div class="row">
                <h1>Welcome back, {{ user.username }}!</h1>
            </div>

            <div class="row mt-5">
                <h2 class="col-12">Projects</h2>
            </div>

        {% else %}
            <div class="row">
                <h1 class="col-12">Please log in to use this app!</h1>
            </div>
        {% endif %}
    </div>
{% endblock %}
